
/* Common CSS */

.text-align{
    text-align: center;
}

h2{
    font-family: "Azeret Mono", monospace;
    font-weight:bolder;
    font-size: 32px;
    text-align: center;
}
.web-development-text{
    width: 852px;
    margin: 0px auto;
    font-size: 16px;
}
h3{
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    font-size: 20px;

}
main{
    max-width: 1140px;
    margin: 0px auto;
}

/* header section start */

header{
    background: url(../Assignment-1/assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 652px;
    
}
.h1{
    font-family: "Azeret Mono", monospace;
    font-weight:bolder;
    font-size:xx-large;

}
.header-button{
    font-family: "Azeret Mono", monospace;
    font-weight:400;
    font-size: medium;
    color: #fff;
    background-color: black;
    padding: 18px 21px;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-top: 25px;
}
.header-button a{
    color: #fff;
    text-decoration: none;
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 20px;

}
/* Web-Development CSS start */
.web-developmet{
    width: 1440px;
}
.web-development-partOne {
    width: 852px;
    margin: 100px auto 50px ;

}
.web-development-text{
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 16px;
}
.web-development-section-2{
    padding: 30px;
    background-color: #fff;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 852px;
    margin: 0px auto 20px;
    display: flex;
    justify-content: space-between;
}
.do-coding{
    width: 400px;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "Azeret Mono", monospace;
}
.web-development-section-2-part1 button {
background-color: #ffffff;
padding: 10px 15px;
border: 1px solid #0D1321;

}

.web-development-section-2-part1 button a {
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    color: #0D1321;
}
/* inspiration */
.inspiration-partOne {
    width: 852px;
    margin: 50px auto 50px ;
}
.inspiration-text{
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 16px;
}
video{
   text-align: center;
   width: 1140px;
}
/* Target */
.target{
    margin-top: 150px;
}
.target-skills{
    display: flex;
    gap: 24px;
}
.target-description{
    width: 852px;
    margin: 0px auto;
    font-size: 16px;
    margin-bottom: 48px;
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 16px;
}

.skill-1{
    padding: 40px;
    background-color: #fff1f1;
    border-radius: 15px;
    box-shadow: 0px 6px 50px 0px  (rgba(0, 0, 0, 0.06));
}
.skill-2{
    padding: 40px;
    background-color: #ebf0fa;
    border-radius: 15px;
}
.skill-3{
    padding: 40px;
    background-color: #fffdee;
    border-radius: 15px;
}
.skill-1 a{
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    font-size: 16px;

}
.skill-2 a{
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    font-size: 16px;

}
.skill-3 a{
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    font-size: 16px;

}
.skill-description{
    font-family: "Azeret Mono", monospace;
    font-weight: 400;
    font-size: 16px;
}
/* SUpport */
.support{
    margin-top: 148px;
    background-image: url(../Assignment-1/Image/assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 64px 48px;
    border-radius: 16px;
}
.support-title{
    font-family: "Azeret Mono", monospace;
    font-weight:bolder;
    font-size: 32px;
    color: #fff;
}
.support-description{
    font-family: "Azeret Mono", monospace;
    font-weight:400;
    font-size: 16px;
    width: 606px;
    color: #fff;
    margin: 0px auto;
    margin-bottom: 24px;
}
.support-input{
    margin-right: 12px;
    width: 548px;
    height: 50px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight:400;
    font-size: 16px;
    border-radius: 10px;
}
.submit{
    width: 120px;
    height: 62px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
    font-weight:bolder;
    font-size: 20px;
    border-radius: 10px;
}
/* Footer  */
#footer{
    margin-top: 80px;
    padding: 32px 270px;
    background-color: #edf2fd;
}
.footer-contain{
    display: flex;
    justify-content: space-between;
}
.footer-text{
    font-family: "Azeret Mono", monospace;
    font-weight:700;
    font-size: 20px;
}
.image{
    display: flex;
    gap: 24px;
}